{% extends "@MaterialDashboard/base.html.twig" %}

{% block meta_title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-9 col-md-3">

                    <a href="/" class="btn btn-info pull-right">Dodaj nowa</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title ">Firmy</h4>
                            <p class="card-category">Lista firm.</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Nazwa
                                        </th>
                                        <th>
                                            Akcje
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
